# Server Configuration
PORT=3000
NODE_ENV=development

# API Configuration
DEEPSEEK_API_URL=https://notegpt.io/api/v2/chat/stream
DEEPSEEK_MODEL=deepseek-chat

# Vercel Configuration (jangan diubah, untuk Vercel environment)
VERCEL_ENV=development
VERCEL_URL=http://localhost:3000
